body {
    margin: 0;
    font-family: "Lato", sans-serif;
    color: black;
}

header {
    position: relative;
    min-height: 400px;
    color: white;
    background-image: url(https://images8.alphacoders.com/113/thumb-1920-1137852.png);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    backdrop-filter: blur(5px);
}

nav span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.desktop-nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.desktop-nav a:hover {
    opacity: 0.7;
}

.icon {
    width: 22px;
}

#menuToggle {
    width: 22px;
    filter: invert(1);
    cursor: pointer;
}

h1 {
    font-size: 60px;
    margin-top: 80px;
    text-align: center;
}

.mobile-nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    z-index: 1000;
}

.mobile-nav a {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.mobile-nav.show {
    display: flex;
}

.nav-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.nav-box button {
    position: relative;
    overflow: hidden;

    background: white;
    color: black;
    font-size: larger;
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    transition: color 0.3s ease;
}

.nav-box button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: gray;
    z-index: 0;
    transition: left 0.35s ease;
}

.nav-box button:hover::before {
    left: 0;
}

.nav-box button span {
    position: relative;
    z-index: 1;
}

.nav-box button:hover {
    color: white;
}


/* MOBILE */
@media (max-width: 600px) {
    .desktop-nav {
        display: none;
    }

    .icon {
        display: none;
    }

    h1 {
        font-size: 36px;
        margin-top: 50px;
    }
}

/* DESKTOP */
@media (min-width: 600px) {
    #menuToggle {
        display: none;
    }
}
